
# Ignore

.DS_Store                                                                   
.Trashes                                                                                                            

# Autosaves and Backups
\#*
*~
 
dotfiles/.emacs.d/autosaves                                                 
dotfiles/.emacs.d/backups                                                   
dotfiles/.emacs.d/auto-save-list                                            
dotfiles/.emacs.d/snippets                                                  
dotfiles/.emacs.d/ido.last                                                  
dotfiles/.emacs.d/elpa  
dotfiles/.emacs.d/speed-type
dotfiles/.emacs.d/configFiles/init_trial.el
dotfiles/.emacs.d/url
archive
