
.DS_Store                                                                   
.Trashes                                                                    
README_custom.md                                                           
\#*
*~
dotfiles/.emacs.d/autosaves                                                 
dotfiles/.emacs.d/backups                                                   
dotfiles/.emacs.d/auto-save-list                                            
dotfiles/.emacs.d/snippets                                                  
dotfiles/.emacs.d/ido.last                                                  
dotfiles/.emacs.d/elpa/  
